<div class="container">
  <h3>Payables</h3>
  <% @payables.each do |pay| %>
      <div class="list-group">
        <!-- <a href="" class="list-group-item active"> -->
          <%= link_to  property_payable_path(pay.property, pay) do %>
            <h4 class="list-group-item-heading"><%= pay.vendor %>, <%= pay.date %></h4>
            <p class="list-group-item-text">$<%= pay.amount %> Due on: <%= pay.duedate %></p>
          <% end %>
        <!-- </a> -->
      </div>
    </ul>
  <% end %>
</div>
