<div class="container, col-md-6">
  <address>
    <strong><%= @tenant.name %></strong><br>
    <%= @tenant.address %><br>
    <%= @tenant.city %>, <%= @tenant.state %> <%= @tenant.zipcode %><br>
  </address>
  Lease Start <%= @tenant.leasestart %><br>
  Lease End <%= @tenant.leaseend %><br>
</div>

<%= render partial: "requests/requests" %>
