<h5> Create New Property </h5>

<%= form_for [ Property.new], remote: true do |f| %>
  <% if property.errors.any? %>
     <div class="alert alert-danger">
       <h4>There are <%= pluralize(property.errors.count, "error") %>.</h4>
       <ul>
         <% property.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
       </ul>
     </div>
    <% end %>
   <%= form_group_tag(property.errors[:address]) do %>
     <%= f.label :address %>
     <%= f.text_field :address, class: 'form-control', placeholder: "Enter Address" %>
   <% end %>
    <div class="form-inline">
      <%= form_group_tag(property.errors[:city]) do %>
       <%= f.text_field :city, class: 'form-control', placeholder: "Enter City" %>
      <% end %>
      <%= form_group_tag(property.errors[:state]) do %>
       <%= f.text_field :state, class: 'form-control', placeholder: "Enter State" %>
      <% end %>
    </div>
   <%= form_group_tag(property.errors[:zipcode]) do %>
     <%= f.text_field :zipcode, class: 'form-control', placeholder: "Enter Zipcode" %>
   <% end %>
   <%= form_group_tag(property.errors[:totalsqft]) do %>
     <%= f.text_field :totalsqft, class: 'form-control', placeholder: "Enter Total Squarefeet" %>
   <% end %>
   <%= form_group_tag(property.errors[:mortgage]) do %>
     <%= f.text_field :mortgage, class: 'form-control', placeholder: "Enter Mortgage" %>
   <% end %>
   <div class="form-group">
     <%= f.submit "Save", class: 'btn btn-success' %>
   </div>
<% end %>
