<div class="row, container, col-sm-8">
 <div class="tabbable tabs-left">
   <ul class="nav nav-tabs">
     <li class="active"><a href="#leasedetails" data-toggle="tab">Lease Details</a></li>
     <li><a href="#payments" data-toggle="tab">Payments</a></li>
     <li><a href="#requests" data-toggle="tab">Requests</a></li>
   </ul>
   <div class="tab-content">
     <div class="tab-pane active" id="leasedetails">
       <%= @bill.tenant.inspect %>
     </div>
     <div class="tab-pane" id="payments">
       <% @bills.each do |bill| %>
          <div class="list-group">
            <h4 class="list-group-item-heading"><%= bill.payer %>, <%= bill.date %></h4>
            <p class="list-group-item-text">$<%= bill.amount %> Due on: <%= bill.duedate %></p>
          </div>
        <% end %>
     </div>
     <div class="tab-pane" id="requests">

     </div>
   </div>
 </div>
