<div class="container">
  <h3>Receivables</h3>
  <% @receivables.each do |rec| %>
      <div class="list-group">
        <%= link_to property_receivable_path(rec.property, rec) do %>
          <h4 class="list-group-item-heading"><%= rec.payer %>, <%= rec.date %></h4>
          <p class="list-group-item-text">$<%= rec.amount %> Due on: <%= rec.duedate %></p>
        <% end %>
      </div>
    </ul>
  <% end %>
</div>
